body {
  background-image: url("../img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-036.jpg");
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
}
.head {
  font-weight: bold;
  font-family: "Hedvig Letters Serif", serif;
}
